/* styles.css */

.search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%; /* Ajuste a largura conforme necessário */
  margin: 0 auto; /* Centralizar na tela */
  border-radius: 20px; /* Adicione bordas arredondadas */
  background-color: #f0f0f0; /* Cor de fundo */
  padding: 10px; /* Espaçamento interno */
}
  
.search-bar input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 20px; /* Adicione bordas arredondadas */
  margin-right: 10px;
}
  
.search-bar button {
  padding: 10px;
  border: none;
  border-radius: 20px; /* Adicione bordas arredondadas */
  cursor: pointer;
  background-color: #3498db; /* Cor de fundo do botão */
  color: #fff; /* Cor do texto do botão */
}
  
.search-bar button:hover {
  background-color: #2980b9; /* Cor de fundo do botão ao passar o mouse */
}
  